html {
  font-size: 17px;
}

body {
  font-family: "Nunito", sans-serif;
}

p {
  font-size: 2rem;
  margin: 0;
}

small {
  font-weight: lighter;
  color: gray;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 12rem;
  margin: 10vh auto;
  box-shadow: 15px 20px 70px -10px;
}

.input-range__label--max {
  display: none;
}

.input-range__label--min {
  display: none;
}

.input-range__label-container {
  left: -50%;
  position: relative;
  display: none;
}

:root {
  --brand-color: #61dafb;
}

.root {
  background: #262626;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}

.brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em;
}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}
